.kanda__text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF;
    max-width: 543px;
    padding-top: 50px;
}
.kanda__school{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.kanda{
    background: #60777C;
}
.kanda .swiper-slide{
    display: flex;
}
.kanda__link{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.27);
    padding-top: 10px;
}
.kanda__info{
    padding-top: 155px;
}
.kanda__img{
    padding: 80px 0 117px 0;
}