.templates{
    background-color: white;
}
.templates__title{
    color: #000;
    width: 626px;
}
.templates__text{
    width: 627px;;
}
.templates__content{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.templates__link{
    color: #000;
}
.templates__img{
    padding: 65px 0 115px 0;
}